<div class="activity">
    <div class="activity-timeline text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing
    </div>
    <div class="activity-info d-flex">
        <div class="card activity-img-card">
            <img class="img-fluid" src="{{activity.image}}" alt="">
        </div>
        <div class="mx-3">
            <p class="pull-right">{{time}}</p>
            <h5>{{activity.title}}</h5>
            <p>{{description}}</p>
            <p class="pull-right">{{activity.time}}</p>
        </div>
    </div>
</div>