<div class="sidebar" id="sidebar">
    <div class="sidebar-title">
        <div class="title-dv p-3 text-center">
            <h5>Dashboard</h5>
        </div>
    </div>
    <div class="sidebar-links mt-5">
        <div class="main-links">
            <ul class="list-unstyled">
                <div class="sidenav-dv m-2">
                    <li class="p-3"><a routerLink="dashboard">Dashboard</a></li>
                </div>
                <div class="sidenav-dv m-2">
                    <li class="p-3"><a routerLink="dashboard">Workers</a></li>
                </div>
                <div class="sidenav-dv m-2">
                    <li class="p-3"><a routerLink="dashboard">Projects</a></li>
                </div>
                <div class="sidenav-dv m-2">
                    <li class="p-3"><a routerLink="dashboard">Properties</a></li>
                </div>
                <div class="sidenav-dv m-2">
                    <li class="p-3"><a routerLink="dashboard">Camera</a></li>
                </div>
            </ul>
        </div>
    </div>
    <div class="sidebar-bottom mt-5">
        <div class="inner-notch">

        </div>
    </div>
</div>