<div class="dashboard ">
    <div class="container-fluid p-0">
        <div class="bigger-notch mt-3">
            <div class="inner-notch p-5">
                <div class="chart-area">
                    <canvas id="chart" width="100%" height="30%">{{usersChart}}</canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-sm-6 col-md-12 col-lg-6 col-xl-8 mt-3">
                <div class="outer-notch">
                    <div class="inner-notch text-center py-3">
                        <p class="display-4">2,060,000</p>
                        <small>Online users</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 stream-dv mt-3">
                <div class="bigger-notch">
                    <div class="inner-notch">
                        <canvas id="opertionCost" width="100%" height="30%">{{operatingCostChart}}</canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-4 mt-3">
                <div class="bigger-notch">
                    <div class="inner-notch">
                        <div class=" chart-area"><canvas id="spending"></canvas></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div class="bigger-notch">
                    <div class="inner-notch">
                        <div class=" chart-area"><canvas id="revenue"></canvas></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div class="bigger-notch">
                    <div class="inner-notch">
                        <div class=" chart-area"><canvas id="demographic"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>