.dashboard {
    .outer-notch {
        height: 100%;
        border-bottom: solid 1px $active-color;
        background-color: $bg-back-color;
        padding: $notch-padding;
        clip-path: $small-clippath;
    }
    .inner-notch {
        background-color: $bg-secondary-color;
        height: 100%;
        width: 100%;
    }
    .bigger-notch {
        height: 100%;
        border-right: solid 1px $active-color;
        border-bottom: solid 1px $active-color;
        background-color: $bg-back-color;
        padding: $notch-padding;
        clip-path: $big-clippath;
    }
    .stream-dv {
        height: 200px;
        >.bigger-notch>.inner-notch {
            padding-left: 2em;
            padding-right: 2em;
            padding-top: 1em;
            hr {
                border: solid 0.03em $bg-back-color;
            }
            .streaming-info {
                height: 100%;
                overflow-x: hidden;
                overflow-y: scroll;
                border-left: solid 0.05em $bg-back-color;
                color: $font-color;
                p {
                    white-space: pre-wrap;
                }
            }
        }
    }
    .chart-area {
        width: 100%;
        height: 300px;
        position: relative;
        canvas {
            display: inline;
        }
    }
}