.dashboard {
    .outer-notch {
        height: 100%;
        border-bottom: solid 1px $active-color;
        background-color: $bg-back-color;
        padding: $notch-padding;
        clip-path: $small-clippath;
    }
    .inner-notch {
        background-color: $bg-secondary-color;
        height: 100%;
        width: 100%;
    }
    .bigger-notch {
        height: 100%;
        border-right: solid 1px $active-color;
        border-bottom: solid 1px $active-color;
        background-color: $bg-back-color;
        padding: $notch-padding;
        clip-path: $big-clippath;
    }
    .chart-area {
        width: 100%;
        height: 40%;
        position: relative;
        canvas {
            display: inline;
        }
    }
}