.navbar-notch {
    border-top: solid 1px $active-color;
    border-right: solid 1px $active-color;
    background-color: $bg-back-color;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 2px;
    clip-path: $small-clippath;
    #navbar {
        background: $bg-secondary-color;
        .navbar-brand {
            color: $font-color
        }
        img {
            height: 30px;
            width: 30px;
            border-radius: 30px;
        }
    }
}

.navbar-notch:hover {
    border: solid 1px $active-color;
    background: $active-color;
    .active-nav,
    i {
        color: $active-color
    }
}