// corners
$radius: 2em;
$notchsize: 2em;
$notch-padding: 2px;
// colors
$bg-primary-color: #000207;
$bg-secondary-color: #010511;
$bg-back-color: rgb(5, 20, 2);
$font-color: rgb(6, 179, 170);
//border
$border-color: rgb(6, 179, 170);
$border-width: 1px;
// $active-link-color: rgb(170, 8, 8);
$active-color: rgb(28, 165, 10);
$big-clippath: polygon( 0% 40px,
/* top left */

0px 0%,
/* top left */

calc(100% - 40px) 0%,
/* top right */

100% 40px,
/* top right */

100% calc(100% - 40px),
/* bottom right */

calc(100% - 0px) 100%,
/* bottom right */

40px 100%,
/* bottom left */

0 calc(100% - 40px)
/* bottom left */

);
$small-clippath: polygon( 0% 20px,
/* top left */

0px 0%,
/* top left */

calc(100% - 20px) 0%,
/* top right */

100% 20px,
/* top right */

100% calc(100% - 20px),
/* bottom right */

calc(100% - 0px) 100%,
/* bottom right */

20px 100%,
/* bottom left */

0 calc(100% - 20px)
/* bottom left */

);