// corners
$radius: 2em;
$notchsize: 2em;
$notch-padding: 2px;
// colors
$bg-primary-color: #000207;
$bg-secondary-color: #00060f;
$bg-back-color: rgb(11, 54, 134);
$font-color: rgb(11, 54, 134);
// $active-link-color: rgb(170, 8, 8);
$active-link-color: rgb(162, 165, 10);